@charset "UTF-8";
.banner {
  background-image: url(../img/Matemática.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 57px;
}

.section {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  padding: 8vw 16vw 12vw 12vw;
  gap: 100px;
  background: var(--bg-color);
}
.section .aside {
  position: absolute;
  right: 4vw;
  width: 20%;
}
.section .aside .aside-nav {
  font-size: 24px;
  font-weight: 400;
}
.section .aside .aside-nav h1 {
  font-size: 30px;
  transform: translateX(-25px);
}
.section .aside .aside-nav ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.section .aside .aside-nav ul .aside-item {
  position: relative;
  cursor: pointer;
}
.section .aside .aside-nav ul .aside-item::before {
  content: "";
  position: absolute;
  left: -1.4rem;
  font-weight: 900;
  font-size: 18px;
  top: 0.25rem;
  color: #0982d2;
  cursor: pointer;
}
.section .content {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.section .content .data {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 900;
}
.section .content .text {
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 15px;
  line-height: 30px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}
.section .content a.home {
  color: var(--bg-color);
  font-size: 1.2rem;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--banner-bg-color);
  width: 130px;
  text-align: center;
}
.section .content .ref {
  display: flex;
  flex-direction: column;
}
.section .content .ref a.link {
  color: var(--banner-bg-color);
  font-size: 1.2rem;
  font-weight: 900;
  margin: 5px;
}
.section .content .ref a.link i {
  margin-left: 5px;
}
.section .content h2:not(.data) {
  font-size: 2.8rem;
  line-height: 60px;
}
.section .content h3 {
  font-size: 2rem;
  line-height: 50px;
}
.section .search_field {
  background-color: var(--bg-color);
}
.section .search_field .search_bar {
  width: 100%;
  border: none;
  outline: none;
  height: 55px;
  font-size: 20px;
  border-radius: 100px;
  padding: 0 25px 0 25px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.section .search_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.section .search_items .content_card {
  gap: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  padding: 30px 40px;
  background: var(--fotter-bg-color);
  width: 100%;
  color: var(--bg-color);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section .search_items .content_card h1.card_title {
  top: 30px;
  font-size: 40px;
  width: 90%;
}
.section .search_items .content_card h2 {
  font-size: 25px;
  font-weight: 500;
  top: 90px;
  width: 60%;
}
.section .search_items .content_card a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 100%;
  background-color: var(--banner-bg-color);
  border-radius: 100px;
  width: 170px;
  height: 50px;
  font-size: 20px;
  display: grid;
  place-items: center;
  color: white;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  body .section {
    padding: 4vw 6vw 6vw 6vw;
    gap: 70px;
  }
  body .section .aside {
    display: none;
  }
  body .section .content {
    width: 100%;
  }
  body .section .content .title {
    font-size: 45px;
  }
  body .section .content .data {
    font-size: 18px;
  }
  body .section .content .text {
    font-size: 18px;
  }
  body .section .content a {
    width: 100%;
    font-size: 1.5rem;
  }
  body .search_items .content_card {
    gap: 50px !important;
  }
  body .search_items .content_card h2 {
    display: none;
  }
  body .search_items .content_card a {
    position: static !important;
    width: 100% !important;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
  }
}
@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  .section {
    padding: 4vw;
  }
  .section .content .title {
    font-size: 40px;
  }
  .section .content .data {
    font-size: 16px;
  }
  .section .content .text {
    font-size: 16px;
  }
  .section .content a {
    width: 100%;
  }
}/*# sourceMappingURL=section.css.map */