@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.title{
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 90px;
}
body{
    overflow-X: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --font-color: #444444;
    --fotter-bg-color: #121212;
    --fotter-smoth-bg-color: #121212bb;
    --bg-color: #FBFBFB;
    --banner-bg-color: #1b8edb;
}